.wrapper{
  padding-top: 40px;
  width: 400px;
  margin-left: 50%;
  transform: translateX(-50%);
}
h3{
  text-align: center;
}
.OwnStyle{
  margin-top: 10px !important;
  display: flex;
  .ownButton{
    width: 120px !important;
    margin-left: 50% !important;
    transform: translateX(-50%) !important;
  }
}
