h1 {
  color: #88b04b;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}
p {
  color: #404f5e;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin: 0;
}
i {
  color: #9abc66;
  font-size: 140px;
  line-height: 197px;
  margin-left: -25px;
}
.card {
  background: white;
  padding: 60px;
  padding-bottom: 20px;
  border-radius: 4px;
  margin-top: 20px;
  box-shadow: 0 2px 3px #c8d0d8;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  .wrapped {
    border-radius: 200px;
    height: 200px;
    width: 200px;
    background: #f8faf5;
    margin: 0 auto;
  }
}
