.wrapper_header {
  position: fixed;
  top: 0;
  z-index: 2;
  left: 0;
  height: 80px;
  border-bottom: 4px solid black;
  padding: 20px;
  width: 100%;
  background: orange;
  .home_header {
    float: left;
    font-size: 24px;
  }
}
