.AuthUser {
  padding-bottom: 100px;
  display: table;
  .wrapper_auth {
    display: flex;
    justify-content: space-between;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    height: 100%;
    flex-wrap: wrap;
    width: 80%;
  }
}
